{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/doctor_portal.css') }}">
<script src="https://kit.fontawesome.com/58224b2815.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
HMS | Doctor Portal
{% endblock %}

{% block content %}
<p onclick="openView(event, 'dashboard')" id="defaultOpen">Dashboard</p>
<p onclick="openView(event, 'help')">Help</p>
{% endblock %}

{% block body %}
<div class="content-area">
  <div id="dashboard" class="tabcontent">
    <h4 id="dash">Dashboard</h4>
    <p id="more-info">This tab will show you all your general information</p>
    <div class="dashboard">
      <div class="dashboard-info">
        {% if session %}
        {% for appointment in appointments if appointment.id == session.appointment %}
        <a href="{{ url_for('doctors.doctor_session', session_id=session.id) }}">
          <div class="session doctor-assigned">
            <h4>Patient consultation in progress...</h4>
            <div class="session-details">
              {% for patient in patients if patient.id == appointment.patient %}
              <p>Patient - <span>{{ patient.first_name }} {{ patient.second_name }}</span></p>
              {% endfor %}
              <p>Created on - <span>{{ appointment.date_created.strftime("%d/%m/%Y") }}</span> </p>
              <p>Time started - <span>{{ appointment.date_created.strftime("%I:%M %p") }}</span> </p>
              <p>status - <span>{{ appointment.status }}</span></p>
            </div>
          </div>
        </a>
        {% endfor %}
        {% else %}
        <div class="session no-doctor-assigned">
          <h4>No Active Appointment</h4>
        </div>
        {% endif %}
        <div class="session-info">
          <i class="fas fa-arrow-right"></i>
          <p>This shows if there's any active appointments, if there is, the appointment details will be specified and
            if
            there isn't,
            no details will be shown</p>
        </div>
      </div>
      <div class="other-actions">
        <div onclick="openView(event, 'prescriptions')" class="action">
          <img src="{{ url_for('static', filename='Images/prescription.png') }}" alt="prescriptions">
          <h4>Prescriptions <i class="fas fa-arrow-right"></i></h4>
          <p>View all the prescriptions you've given to your patients</p>
        </div>
        <div onclick="openView(event, 'previous-session')" class="action">
          <img src="{{ url_for('static', filename='Images/online-class.png') }}" alt="hostory">
          <h4>Previous Sessions <i class="fas fa-arrow-right"></i></h4>
          <p>view all the previous sessions yiu've had with your patients</p>
        </div>
        <div onclick="openView(event, 'medicine')" class="action">
          <img src="{{ url_for('static', filename='Images/pills.png') }}" alt="hostory">
          <h4>Drugs <i class="fas fa-arrow-right"></i></h4>
          <p>Quickly add new medication to the system to be available during sessions</p>
        </div>
      </div>
    </div>
  </div>
  <div id="prescriptions" class="tabcontent">
    <h4 id="dash">
      Prescriptions ({{ current_user.prescription|count }})
      <input type="text" id="prescription-search" placeholder="Search for any prescription" spellcheck="false">
    </h4>
    <p id="more-info">This tab shows all the prescriptions you have ever prescribed to your patients</p>
    {% set previous_prescriptions = [] %}
    {% for prescription in current_user.prescription %}
    {{ previous_prescriptions.append(prescription) or "" }}
    {% endfor %}
    {% if previous_prescriptions %}
    <div class="prescriptions">
      {% for session in sessionz|sort(attribute="date_closed", reverse=true)
      %}
      <div class="prescription-info">
        {% for prescription in current_user.prescription|sort(attribute="date", reverse=true) if prescription.session ==
        session.id %}
        <div class="prescription-details">
          <h4>
            Prescription ID {{ prescription.id }} -
            <span>
              {% for patient in patients if patient.id == prescription.patient %}
              {{ patient.first_name }} {{ patient.second_name }} {{ patient.last_name }}
              {% endfor %}
            </span>
            <span id="date">{{ prescription.date.strftime("%d/%m/%Y at %I:%M %p") }}</span>
          </h4>
          <hr>
          <p class="prescribe">
            {% for medicine in medicines if medicine.id == prescription.medicine %}
            <span>Drug name - {{ medicine.name }} ({{ medicine.type }})</span>
            <span> Dosage -
              {% if medicine.type == 'Liquid' or medicine.type == 'Injection' %}
              {{ prescription.dose }}
              {% elif medicine.type == 'Capsules' %}
              {{ prescription.dose }} capsules
              {% elif medicine.type == 'Tablet' %}
              {{ prescription.dose }} tablets
              {% endif %} &times; {{ prescription.frequency }}
            </span>
            <span>Treatment - {{ medicine.treatment }}</span>
            <span>Drug price - {{ "Ksh {:,}".format(medicine.price) }}</span>
            {% endfor %}
          </p>
          {% for transaction in transactions if transaction.id == prescription.transactions %}
          <hr>
          <div class="payment-info">
            <p>Payment Status
              <span>{{ transaction.status }}</span>
            </p>
            <p>Paid on <span>{{ transaction.date.strftime("%d/%m/%Y")
                }}</span> at <span>{{ transaction.date.strftime("%I:%M %p")
                }}</span></p>
            <p>Transaction ID
              <span>{{ transaction.transaction_id }}</span>
            </p>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h4 class="else">No prescriptions given</h4>
    {% endif %}
  </div>
  <div id="help" class="tabcontent">
    <h4 id="dash">Help</h4>
  </div>
  <div id="previous-session" class="tabcontent">
    {% set previous_session = [] %}
    {% for session in current_user.session if session.status == "Closed" %}
    {{ previous_session.append(session) or "" }}
    {% endfor %}
    <h4 id="dash">Previous Sessions ({{ previous_session|count }})</h4>
    <p id="more-info">This tab shows you previous interaction with your patients</p>
    {% if previous_session %}
    <div class="previous-session">
      {% for appointment in appointmentz|sort(attribute='date_closed', reverse=true) %}
      {% for session in current_user.session if session.status == "Closed" and session.appointment == appointment.id %}
      <a href="{{ url_for('doctors.doctor_session', session_id=session.id) }}">
        <div class="accordion">
          {{ appointment.name }}
          {% for patient in patients if patient.id == session.patient %}
          - {{ patient.first_name }} {{ patient.second_name }}
          {% endfor %}
          <span>{{ appointment.date_closed.strftime("Closed on %d/%m/%Y at %I:%M %p")}}
          </span>
        </div>
      </a>
      {% endfor %}
      {% endfor %}
    </div>
    {% else %}
    <h4 class="else">No previous sessions</h4>
    {% endif %}
  </div>
  <div id="medicine" class="tabcontent">
    <h4 id="dash">Available Medicine</h4>
    <p id="more-info">This tab allows you to add new drugs to the database</p>
    <div class="medicine">
      <form action="{{ url_for('doctors.add_medicine') }}" method="post">
        <div class="input">
          <label for="name">Name of Drug</label>
          <input required type="text" name="name" placeholder="Enter name of drug">
        </div>
        <div class="input">
          <label for="type">Type of Drug</label>
          <select required name="type">
            <option value="Liquid">Liquid</option>
            <option value="Tablet">Tablet</option>
            <option value="Capsules">Capsules</option>
            <option value="Injection">Injection</option>
          </select>
        </div>
        <div class="input">
          <label for="treatment">Treatment of Drug</label>
          <input required type="text" name="treatment" placeholder="Enter diseases the drug treats">
        </div>
        <div class="input">
          <label for="price">Price of Drug</label>
          <input required type="number" name="price" placeholder="Enter price of drug">
        </div>
        <button type="submit">Add</button>
      </form>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/doctor_portal.js') }}"></script>
{% endblock %}