{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/style.css') }}">
{% endblock %}

{% block title %}
HMS | Home
{% endblock %}

{% block content %}
<a href="#customers">Our Customers</a>
<a href="#why-us">Why Choose Us</a>
<a href="#contact_us">Contact Us</a>
{% endblock %}

{% block body %}
<div class="container">
  <div class="text">
    <h4>Providing you with the best care</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ducimus nam provident nulla aliquam! Atque nam
      esse inventore? At quod asperiores rem pariatur dolor aut libero culpa debitis eos unde?</p>
  </div>
  <div class="image"></div>
</div>
<div id="customers" class="container-2">
  <h4>Who is this system for</h4>
  <div class="patients">
    <span class="number">01</span>
    <p class="name">Patients</p>
    <div class="min-container">
      <div class="slide first">
        <img src="{{ url_for('static', filename='Images/3912425.png') }}" alt="appointment">
        <div class="info">
          <h4>Quickly create instant appointments</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias libero culpa error, accusantium
            adipisci dolorem maxime temporibus rerum accusamus quae tenetur aliquid incidunt natus quibusdam obcaecati
            architecto ipsum perferendis ex.</p>
        </div>
      </div>
      <div class="slide second">
        <img src="{{ url_for('static', filename='Images/TaeAugust07.png') }}" alt="appointment">
        <div class="info">
          <h4>Manage sessions with doctors</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias libero culpa error, accusantium
            adipisci dolorem maxime temporibus rerum accusamus quae tenetur aliquid incidunt natus quibusdam obcaecati
            architecto ipsum perferendis ex.</p>
        </div>
      </div>
      <div class="slide third">
        <img src="{{ url_for('static', filename='Images/3708243.png') }}" alt="appointment">
        <div class="info">
          <h4>Easily make online payments</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias libero culpa error, accusantium
            adipisci dolorem maxime temporibus rerum accusamus quae tenetur aliquid incidunt natus quibusdam obcaecati
            architecto ipsum perferendis ex.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="doctors">
    <span class="number">02</span>
    <p class="name">Doctors</p>
    <div class="min-container">
      <div class="slide first">
        <img src="{{ url_for('static', filename='Images/6601.png') }}" alt="appointment">
        <div class="info">
          <h4>Access to patients medical history</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias libero culpa error, accusantium
            adipisci dolorem maxime temporibus rerum accusamus quae tenetur aliquid incidunt natus quibusdam obcaecati
            architecto ipsum perferendis ex.</p>
        </div>
      </div>
      <div class="slide second">
        <img src="{{ url_for('static', filename='Images/TaeAugust07.png') }}" alt="appointment">
        <div class="info">
          <h4>Manage sessions with patients</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias libero culpa error, accusantium
            adipisci dolorem maxime temporibus rerum accusamus quae tenetur aliquid incidunt natus quibusdam obcaecati
            architecto ipsum perferendis ex.</p>
        </div>
      </div>
      <div class="slide third">
        <img src="{{ url_for('static', filename='Images/16209.png') }}" alt="appointment">
        <div class="info">
          <h4>Add new medication to the system</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias libero culpa error, accusantium
            adipisci dolorem maxime temporibus rerum accusamus quae tenetur aliquid incidunt natus quibusdam obcaecati
            architecto ipsum perferendis ex.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="why-us" class="container-3">
  <h4>Why choose us?</h4>
  <div class="cards">
    <div class="card">
      <div class="card-img">
        <img src="{{ url_for('static', filename='Images/5401265.png') }}" alt="Excellent Service">
      </div>
      <div class="card-info">
        <h4>Reliable Service</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, quidem cupiditate aut voluptatem blanditiis
          doloribus?</p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="{{ url_for('static', filename='Images/Data_security.png') }}" alt="Excellent Service">
      </div>
      <div class="card-info">
        <h4>System Security</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, quidem cupiditate aut voluptatem blanditiis
          doloribus?</p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="{{ url_for('static', filename='Images/5385893.png') }}" alt="Excellent Service">
      </div>
      <div class="card-info">
        <h4>Professional Expertise</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, quidem cupiditate aut voluptatem blanditiis
          doloribus?</p>
      </div>
    </div>
  </div>
</div>
<div id="contact_us" class="container-4">
  <h4>Reach out to us</h4>
  <div class="divider">
    <div class="img"></div>
    <div class="form">
      <form action="#">
        <div class="one">
          <label>First Name</label>
          <input required type="text" name="" placeholder="Enter First Name">
        </div>
        <div class="one">
          <label>Last Name</label>
          <input required type="text" name="" placeholder="Enter Last Name">
        </div>
        <div class="one">
          <label>Phone Number</label>
          <input required type="number" name="" placeholder="Enter Phone Number">
        </div>
        <div class="one">
          <label>Email Address</label>
          <input required type="email" name="" placeholder="Enter Email Address">
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}