{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/patient_portal.css') }}">
<script src="https://kit.fontawesome.com/58224b2815.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
HMS | Patient Portal
{% endblock %}

{% block content %}
<p onclick="openView(event, 'dashboard')" id="defaultOpen">Dashboard</p>
<p onclick="openView(event, 'help')">Help</p>
{% endblock %}

{% block body %}
<div class="content-area">
  <div id="dashboard" class="tabcontent">
    <h4 id="dash">My Dashboard</h4>
    <p id="more-info">This tab shows all your general information</p>
    <div class="dashboard">
      <div class="dashboard-info">
        {% if session %}
        {% for appointment in appointments if appointment.id == session.appointment %}
        <a href="{{ url_for('patient_session', session_id=session.id) }}">
          <div class="session doctor-assigned">
            <h4>{{ appointment.name }} in progress...</h4>
            <div class="session-details">
              {% for doctor in doctors if doctor.id == session.doctor %}
              <p>Doctor assigned - <span>{{ doctor.first_name }} {{ doctor.second_name }}</span></p>
              {% endfor %}
              <p>Created on - <span>{{ appointment.date_created.strftime("%d/%m/%Y") }}</span> </p>
              <p>Time started - <span>{{ appointment.date_created.strftime("%I:%M %p") }}</span> </p>
              <p>status - <span>{{ appointment.status }}</span></p>
            </div>
          </div>
        </a>
        {% endfor %}
        {% else %}
        <div class="session no-doctor-assigned">
          <h4>No Active Appointment</h4>
        </div>
        {% endif %}
        <div class="session-info">
          <i class="fas fa-arrow-right"></i>
          <p>This shows if there's any active appointments, if there is, the appointment details will be specified and
            if
            there isn't,
            no details will be shown</p>
        </div>
      </div>
      <div class="other-actions">
        <div onclick="openView(event, 'consultation')" class="action">
          <img src="{{ url_for('static', filename='Images/calendar.png') }}" alt="appointment">
          <h4>Make Appointments <i class="fas fa-arrow-right"></i></h4>
          <p>Create instant appointments with a doctor and quickly get treatment for your symptoms</p>
        </div>
        <div onclick="openView(event, 'medical')" class="action">
          <img src="{{ url_for('static', filename='Images/monitor.png') }}" alt="medical data">
          <h4>View Medical Data <i class="fas fa-arrow-right"></i></h4>
          <p>View all your medical data from blood pressure, weight, height and more</p>
        </div>
        <div onclick="openView(event, 'payments')" class="action">
          {% set active_prescriptions = [] %}
          {% for prescription in prescriptions if prescription.status == "Active" %}
          {{ active_prescriptions.append(prescription) or "" }}
          {% endfor %}
          {% if active_prescriptions %}
          <div class="dot"></div>
          {% endif %}
          <img src="{{ url_for('static', filename='Images/secure-payment.png') }}" alt="payment">
          <h4>Payments <i class="fas fa-arrow-right"></i></h4>
          <p>Quickly and easily pay for your prescribed medication with a click of a button</p>
        </div>
        <div onclick="openView(event, 'previous-visit')" class="action">
          <img src="{{ url_for('static', filename='Images/monitor.png') }}" alt="previous visit">
          <h4>Previous visits <i class="fas fa-arrow-right"></i></h4>
          <p>View all details from your previous visits and recap on what was said</p>
        </div>
      </div>
    </div>
  </div>
  <div id="consultation" class="tabcontent">
    <h4 id="dash">Doctor Consultation</h4>
    <p id="more-info">Fill all the fields in the form</p>
    <div class="consultation">
      <form action="{{ url_for('book_appointment') }}" method="post">
        <div class="left">
          <div class="one">
            <label for="fnam">Full Name:</label>
            <input required type="text" name="fname" placeholder="Full Names" readonly spellcheck="false"
              value="{{ current_user.first_name }} {{ current_user.second_name }} {{ current_user.last_name }}">
          </div>
          <div class="two">
            <label for="gender">Gender:</label>
            {% if current_user.gender %}
            <input required type="text" placeholder="Gender" readonly spellcheck="false"
              value="{{ current_user.gender }}">
            {% else %}
            <select required name="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            {% endif %}
          </div>
          <div class="two">
            <label for="age">Age:</label>
            <input required readonly spellcheck="false" type="tel" name="age" placeholder="Age"
              value="{{ current_user.age|default(0) }} Years">
          </div>
          <div class="two">
            <label for="phone">Phone Number:</label>
            <input readonly required spellcheck="false" type="tel" name="phone" placeholder="Phone Number"
              value="{{ current_user.phone }}">
          </div>
          <div class="two">
            <label for="phone">Email Address:</label>
            <input required readonly spellcheck="false" type="email" name="email" placeholder="Email Address"
              value="{{ current_user.email }}">
          </div>
        </div>
        <div class="right">
          <h4>Take note</h4>
          <div class="right-info">
            <ul>
              <li>Fill all the fields in the form correctly</li>
              <li>Once done a doctor will be assigned to you</li>
              <li>Once you're assigned a doctor a session will be created, that will track your progress</li>
              <li>Once you've created an appointment, you cannot create another one until your previous appointment is
                complete</li>
            </ul>
          </div>
        </div>
        <button class="btn" type="submit">
          <span class="button--text">Create Appointment</span>
        </button>
      </form>
    </div>
  </div>
  <div id="previous-visit" class="tabcontent">
    <h4 id="dash">Previous Sessions ({{ current_user.session|count }})</h4>
    <p id="more-info">This tab shows your previous interaction with your doctor</p>
    {% set previous_session = [] %}
    {% for appointment in current_user.appointment if appointment.status == "Closed" %}
    {{ previous_session.append(prescription) or "" }}
    {% endfor %}
    {% if previous_session %}
    <div class="previous-session">
      {% for appointment in appointmentz|sort(attribute='date_closed', reverse=true) if appointment.patient
      == current_user.id and appointment.status == "Closed" %}
      {% for session in current_user.session if session.status == "Closed" and session.appointment == appointment.id %}
      <a href="{{ url_for('patient_session', session_id=session.id) }}">
        <div class="accordion">
          {{ appointment.name }}
          {% for doctor in doctors if doctor.id == session.doctor %}
          - {{ doctor.first_name }} {{ doctor.second_name }}
          {% endfor %}
          <span>{{ appointment.date_closed.strftime("Closed on %d/%m/%Y at %I:%M %p")}}
          </span>
        </div>
      </a>
      {% endfor %}
      {% endfor %}
    </div>
    {% else %}
    <h4 class="else">No previous session</h4>
    {% endif %}
  </div>
  <div id="medical" class="tabcontent">
    <h4 id="dash">Medical Data</h4>
    <p id="more-info">View all your medical data in one place</p>
    <div class="medical-data">
      <div class="data personal-profile">
        <div class="profile-img">
          <img src="{{ url_for('static', filename='Images/profile.png') }}" alt="profile">
        </div>
        <div class="personal-info">
          <h4>{{ current_user.first_name }} {{ current_user.second_name }} {{ current_user.last_name }}</h4>
          <div class="other-details">
            <p>Patient ID - <span>{{ current_user.patient_id }}</span></p>
            <p>Phone - <span>{{ current_user.phone }}</span></p>
            <p>Email - <span>{{ current_user.email }}</span></p>
            <p>Age - <span>{{ current_user.age }} years</span></p>
            <p>Address - <span>{{ current_user.address }}, {{ current_user.address2 }}</span></p>
            <p>Gender -
              <span>
                {% if current_user.gender %}
                {{ current_user.gender }}
                {% endif %}
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="data blood-type">
        <h4>Blood Type</h4>
        <div class="blood-type-info">
          <img src="{{ url_for('static', filename='Images/blood-test.png') }}" alt="blood-type">
          <p>O-</p>
        </div>
      </div>
      <div class="data alergies">
        <h4>My Allergies</h4>
        <div class="alergies-info">
          <ul>
            <li>Peanuts</li>
            <li>Fried eggs</li>
            <li>Gluecose</li>
            <li>Syringe</li>
          </ul>
        </div>
      </div>
      {% if current_user.appointment %}
      <div class="data recent-visit">
        <h4>Recent Appointment - <span>{{ current_user.appointment[-1].appointment_id }}</span></h4>
        <div class="recent-history">
          {% for appointment in current_user.appointment if appointment.id == current_user.session[-1].appointment %}
          <img src="{{ url_for('static', filename='Images/man.png') }}" alt="doctor">
          <p>
            {% for doctor in doctors if doctor.id == appointment.doctor %}
            Dr. {{ doctor.first_name }} {{ doctor.second_name }} {{ doctor.last_name }}
            {% endfor %}
          </p>
          <p>{{ appointment.name }}</p>
          <p id="schedule">
            <img src="{{ url_for('static', filename='Images/schedule.png') }}" alt="date opened">
            {{ appointment.date_created.strftime("Opened on %d/%m/%Y at %I:%M %p") }}
          </p>
          <p id="schedule">
            <img src="{{ url_for('static', filename='Images/schedule.png') }}" alt="date opened">
            {% if appointment.date_closed %}
            {{ appointment.date_closed.strftime("Closed on %d/%m/%Y at %I:%M %p") }}
            {% else %}
            <span id="ongoing">Currently ongoing</span>
            {% endif %}
          </p>
          <p>{{ appointment.status }}</p>
          {% endfor %}
          <a href="{{ url_for('patient_session', session_id=current_user.session[-1].id) }}">View Session</a>
        </div>
      </div>
      {% endif %}
      <div class="data primary-data">
        <div class="blood-pressure">
          <div class="primary-data-details">
            <h4>Blood Pressure</h4>
            <p>{{ current_user.blood_pressure }} Bpm</p>
          </div>
          <img src="{{ url_for('static', filename='Images/blood-pressure-gauge.png') }}" alt="blood pressure">
        </div>
        <div class="heart-rate">
          <div class="primary-data-details">
            <h4>Heart Rate</h4>
            <p>102 Beats/min</p>
          </div>
          <img src="{{ url_for('static', filename='Images/heartbeat.png') }}" alt="heart rate">
        </div>
        <div class="weight">
          <div class="primary-data-details">
            <h4>Weight</h4>
            <p>{{ current_user.weight }} kg</p>
          </div>
          <img src="{{ url_for('static', filename='Images/weight-scale.png') }}" alt="weight">
        </div>
        <div class="height">
          <div class="primary-data-details">
            <h4>Height</h4>
            <p>{{ current_user.height }} Cm</p>
          </div>
          <img src="{{ url_for('static', filename='Images/height.png') }}" alt="height">
        </div>
      </div>
      <div class="data recent-session">
        <h4>Diagnosis / Prescription</h4>
      </div>
    </div>
  </div>
  <div id="payments" class="tabcontent">
    <h4 id="dash">Payments</h4>
    <p id="more-info">This tab allows you to pay for your medication</p>
    <div class="payment">
      <div class="payments">
        {% if active_prescriptions %}
        <h4>Medical Bill</h4>
        <table>
          <tr>
            <th id="desc">Description</th>
            <th id="amount">Amount</th>
          </tr>
          {% set total = [] %}
          {% for prescription in active_prescriptions %}
          {% for medicine in medicines if medicine.id == prescription.medicine %}
          {{ total.append(medicine.price) or "" }}
          <tr>
            <td>{{ medicine.name }} ({{ medicine.type }})
              <span id="dosage">
                {% if medicine.type == 'Liquid' or medicine.type == 'Injection' %}
                {{ prescription.dose }}
                {% elif medicine.type == 'Capsules' %}
                {{ prescription.dose }} capsules
                {% elif medicine.type == 'Tablet' %}
                {{ prescription.dose }} tablets
                {% endif %} &times; {{ prescription.frequency }}
              </span>
            </td>
            <td id="center">{{ "Ksh {:,}".format(medicine.price) }}</td>
          </tr>
          {% endfor %}
          {% endfor %}
          <tr id="total">
            <td>Total</td>
            <td id="center">{{ "Ksh {:,}".format(total|sum) }}</td>
          </tr>
        </table>
        <div class="payment-methods">
          <a href="{{ url_for('medical_bill_payment') }}">
            <div class="bank-card">
              <img src="{{ url_for('static', filename='Images/credit-card.png') }}" alt="credit card">
              <h4>
                Bank credit/debit card
                <i class="fas fa-chevron-right"></i>
              </h4>
            </div>
          </a>
        </div>
        {% else %}
        <h4 class="else">No active medical bill to pay at the moment</h4>
        {% endif %}
      </div>
      <div class="recent-transaction">
        <h4>Previous Medical Bills</h4>
        {% set closed_prescriptions = [] %}
        {% for prescription in current_user.prescription if prescription.status == "Closed" %}
        {{ closed_prescriptions.append(prescription) or "" }}
        {% endfor %}
        {% if closed_prescriptions %}
        <div class="transaction-info">
          {% for transaction in transactions|sort(attribute="date", reverse=true) %}
          <div class="transaction-details">
            <h4 class="accordion">Transaction ID {{ transaction.transaction_id }}
              <span>{{ transaction.status }} - {{ transaction.date.strftime("%d/%m/%Y at %I:%M %p") }}</span>
            </h4>
            <div class="panel">
              <div class="panel-info">
                <table>
                  <tr>
                    <th id="desc">Description</th>
                    <th id="amount">Amount</th>
                  </tr>
                  {% set totalz = [] %}
                  {% for prescription in prescriptions if prescription.status == "Closed" and prescription.transactions
                  == transaction.id %}
                  {% for medicine in medicines if medicine.id == prescription.medicine %}
                  {{ totalz.append(medicine.price) or "" }}
                  <tr>
                    <td>{{ medicine.name }} ({{ medicine.type }}) for {{ medicine.treatment }}
                      <span id="dosage">
                        {% if medicine.type == 'Liquid' or medicine.type == 'Injection' %}
                        {{ prescription.dose }}
                        {% elif medicine.type == 'Capsules' %}
                        {{ prescription.dose }} capsules
                        {% elif medicine.type == 'Tablet' %}
                        {{ prescription.dose }} tablets
                        {% endif %} &times; {{ prescription.frequency }}
                      </span>
                    </td>
                    <td id="center">{{ "Ksh {:,}".format(medicine.price) }}</td>
                  </tr>
                  {% endfor %}
                  {% endfor %}
                  <tr id="total">
                    <td>Total</td>
                    <td id="center">{{ "Ksh {:,}".format(totalz|sum) }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <h4 class="else">No previous medical bills</h4>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="help" class="tabcontent">
    <h4 id="dash">Help</h4>
  </div>
</div>

<script src="{{ url_for('static', filename='js/patient_portal.js') }}"></script>
{% endblock %}