{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/test.css') }}">
<script src="https://kit.fontawesome.com/58224b2815.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
{% if current_user.account_type == "patient" %}
HMS| Payment Complete
{% else %}
HMS | Blood Test
{% endif %}
{% endblock %}

{% block body %}

{% if current_user.account_type == "patient" %}
<div class="payment-complete">
  <img src="{{ url_for('static', filename='Images/complete.png') }}" alt="success">
  <h4>Medical Bill payment complete</h4>
  <p>Transaction ID <span>{{ new_transaction.transaction_id }}</span></p>
</div>
{% else %}
<div class="test-complete">
  <img src="{{ url_for('static', filename='Images/complete.png') }}" alt="success">
  <h4>Blood test ID <span>{{ new_test.test_id }}</span> complete</h4>
  <p>Results - <span>{{ new_test.result }}</span></p>
</div>
{% endif %}
{% endblock %}