main {
  min-height: 100vh;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
}

main > h1 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  max-width: 70vw;
}

main > p {
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: var(--nav-links-font);
}
