::-webkit-scrollbar {
  background-color: var(--dark);
}

body {
  font-family: var(--nav-links-font);
  background-color: var(--nav-links-color);
}

.links p {
  color: #494949;
  cursor: pointer;
}

.links p:hover {
  color: black;
  font-weight: 600;
}

.user-profile > a {
  display: none;
}

.modal {
  position: absolute;
  inset: 0;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  border-radius: 5px;
  background-color: var(--dark);
  color: white;
  outline: 2px solid orange;
  width: 45vw;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  overflow: hidden;
}

.modal-header {
  padding: 20px;
  background-color: var(--nav-links-color);
  position: relative;
}

.modal-header span {
  position: absolute;
  inset: 0.5rem 1.3rem auto auto;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-body form {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-body form .one {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-body > form #select,
#input {
  border: none;
  padding: 15px;
  background-color: var(--nav-links-color);
  color: white;
  min-width: 100%;
  max-width: 100%;
  border-radius: 5px;
  font-family: var(--nav-links-font);
  font-size: 16px;
  cursor: pointer;
  outline: 1px solid grey;
}

.modal-body > form input::placeholder {
  color: whitesmoke;
  font-family: var(--nav-links-font);
  font-size: 14px;
}

.modal-footer {
  padding: 10px;
  background-color: var(--nav-links-color);
  display: flex;
  gap: 20px;
  justify-content: center;
}

.modal-footer button {
  flex-grow: 0.5;
  padding: 8px 15px;
  border: none;
  border-radius: 25px;
  font-family: system-ui;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  color: white;
  background-color: rgb(1, 170, 1);
}

.content-area {
  min-height: 92vh;
  max-height: 92vh;
  overflow: auto;
  margin-top: 3.7rem;
  background-color: var(--nav-links-color);
  padding: 2rem 3.8rem 0;
}

#dash {
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  color: white;
}

#more-info {
  font-family: var(--nav-links-font);
  color: rgb(172, 172, 172);
  margin-top: 10px;
}

.else {
  color: var(--red);
  margin-top: 2rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
}

.dashboard {
  margin-top: 1rem;
  height: max-content;
  border-radius: 5px;
  padding: 15px 5px 10px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 80px;
  column-gap: 20px;
  max-height: 38rem;
  overflow: auto;
}

.dashboard::-webkit-scrollbar {
  display: none;
}

.dashboard-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
  grid-column: 1/4;
}

.session {
  padding: 20px;
  border-radius: 5px;
  min-height: 16rem;
  min-width: 35rem;
  max-width: 35rem;
  font-family: var(--nav-links-font);
  box-shadow: 0px 0px 10px -6px black;
  transition: 0.3s ease;
}

.session:hover {
  transform: scale(1.02);
}

.doctor-assigned h4 {
  color: aqua;
  font-weight: normal;
  letter-spacing: 0.8px;
  font-size: 1.2rem;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
}

.session-details {
  max-width: 15rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.session-details span {
  font-weight: bold;
}

.doctor-assigned {
  background-color: rgb(81, 184, 81);
  color: whitesmoke;
  background-image: url(../Images/Gifs/Flame_Remote_Working_transparent_by_Icons8.gif);
  background-size: contain;
  background-position: right 20px;
  background-repeat: no-repeat;
  outline: 4px solid white;
  animation: flashs 1s infinite;
}

@keyframes flashs {
  0% {
    outline: 4px solid white;
  }

  50% {
    outline: 4px solid orange;
  }

  100% {
    outline: 4p solid white;
  }
}

.no-doctor-assigned {
  background-color: var(--dark);
  outline: 4px solid var(--red);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../Images/not-found.png);
  background-size: 8rem;
  background-position: center 3rem;
  background-repeat: no-repeat;
}

.no-doctor-assigned h4 {
  color: white;
}

.session-info {
  padding: 1rem 2rem;
  color: rgb(172, 172, 172);
  border-radius: 5px;
  grid-column: 2/4;
  max-width: 35rem;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 18px;
  position: relative;
}

.session-info i {
  position: absolute;
  inset: auto auto auto -6rem;
  transform: rotate(180deg);
  color: orange;
  font-size: 5rem;
}

.other-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
  justify-content: center;
  grid-column: 1/4;
}

.action {
  height: 16rem;
  background-color: var(--dark);
  border-radius: 0 40px 40px 40px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 0px 0px 10px -6px black;
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
}

.dot {
  position: absolute;
  inset: 2rem 2rem auto auto;
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: orange;
  animation: flash 0.8s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.action:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px -4px black;
}

.action:hover h4 > i {
  margin-left: 1rem;
}

.action img {
  max-width: 3rem;
  aspect-ratio: 1/1;
}

.action h4 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.action h4 > i {
  font-size: 14px;
  color: orange;
  margin-left: 0.5rem;
  transition: 0.2s ease-in;
}

.action p {
  color: whitesmoke;
  font-size: 15px;
  font-weight: lighter;
  font-family: var(--nav-links-font);
  line-height: 1.3;
}

.consultation {
  margin-top: 2em;
  padding: 10px 20px 5px;
  border-radius: 5px;
  background-color: var(--dark);
  box-shadow: 0px 0px 10px -5px black;
}

.consultation form {
  margin: 2rem 0 1rem;
  padding: 1rem 1rem 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: left;
  align-items: center;
  width: 100%;
}

.consultation form .btn {
  margin-top: 2rem;
  grid-column: 1/3;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.button--text {
  color: white;
  font-family: var(--nav-links-font);
  font-size: 15px;
  transition: all 0.2s;
}

.btn--loading .button--text {
  visibility: hidden;
  opacity: 0;
}

.btn--loading::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.consultation form label {
  font-weight: 600;
  color: white;
}

.consultation > form input,
select {
  padding: 10px;
  background-color: var(--nav-links-color);
  border-radius: 2px;
  border: 1px solid grey;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  min-width: 30vw;
  max-width: 30vw;
  color: whitesmoke;
}

.left div {
  display: grid;
  grid-template-columns: repeat(2, 0.55fr);
  justify-content: left;
  align-items: center;
  width: max-content;
  margin-bottom: 1.5rem;
}

.right {
  background-color: red;
  height: max-content;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--nav-links-color);
  color: white;
}

.right h4 {
  font-size: 1.5rem;
  font-family: var(--nav-links-font);
}

.right ul {
  margin-top: 1.5rem;
}

.right ul li {
  margin: 0 0 1rem 2rem;
  color: whitesmoke;
}

.previous-session {
  margin-top: 2rem;
  max-height: 37.8rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}

.previous-session::-webkit-scrollbar {
  display: none;
}

.accordion {
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: var(--dark);
  border: none;
  font-family: var(--nav-links-font);
  cursor: pointer;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  text-align: left;
  position: relative;
  outline: 2px solid rgb(81, 184, 81);
}

.accordion span {
  position: absolute;
  right: 2rem;
  font-weight: normal;
  color: red;
}

.accordion:hover {
  color: white;
  background-color: var(--dark);
}

.panel {
  background-color: var(--dark);
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0 0 5px 5px;
  margin-bottom: 1rem;
  color: whitesmoke;
  box-shadow: 0px 0px 10px -5px black;
}

.panel-info {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.panel-info div {
  padding: 20px;
  outline: 2px solid rgb(81, 184, 81);
  border-radius: 2px;
  font-family: var(--nav-links-font);
  height: max-content;
}

.appointment-info,
.symptoms,
.diagnosis {
  grid-column: 1/3;
}

.prescriptions,
.notes {
  grid-column: 3/4;
  grid-row: 1/3;
}

.notes {
  margin-top: 1rem;
  background-color: var(--nav-links-color);
  color: white;
}

.panel-info div hr {
  background-color: rgb(201, 201, 201);
  outline: 1px solid rgb(201, 201, 201);
  border: none;
  margin: 10px 0;
}

.panel-info div p {
  padding: 8px 0;
}

.panel-info div p > span {
  font-weight: bold;
  color: orange;
}

.medical-data {
  margin-top: 0.8rem;
  padding-left: 2px;
  padding-right: 15px;
  border-radius: 5px;
  max-height: 39rem;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  color: white;
}

.medical-data::-webkit-scrollbar {
  background-color: var(--nav-links-color);
}

.data {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--dark);
  height: max-content;
  max-height: 24rem;
  overflow: auto;
  box-shadow: 0px 0px 10px -6px black;
}

.data img {
  max-height: 5rem;
}

.personal-profile {
  grid-column: 1/3;
  display: flex;
  gap: 1.5rem;
}

.profile-img img {
  max-height: 4rem;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.other-details {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.other-details p {
  color: whitesmoke;
}

.other-details p span {
  font-weight: bold;
  color: rgb(1, 209, 1);
}

.blood-type-info {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
  padding: 5px 10px;
}

.blood-type-info img {
  max-height: 4rem;
}

.blood-type-info p {
  font-size: 1.8rem;
  color: var(--red);
}

.alergies,
.blood-type {
  height: 10rem;
}

.alergies > h4 {
  position: relative;
}

#add_allergies {
  position: absolute;
  right: 0;
  background-color: rgb(81, 184, 81);
  padding: 4px 1rem;
  text-align: center;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  outline: 2px solid greenyellow;
}

.alergies-info {
  margin-top: 1rem;
  max-height: 5.3rem;
  overflow: auto;
}

.alergies-info li {
  padding: 5px;
  color: whitesmoke;
}

.recent-visit {
  padding: 0;
  background-color: transparent;
  grid-column: 1/5;
  box-shadow: none;
}

.recent-visit h4 > span {
  color: rgb(172, 172, 172);
}

.recent-history {
  margin-top: 1rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2rem;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--dark);
  box-shadow: 0px 0px 10px -6px black;
}

.recent-history img {
  max-height: 3rem;
}

.recent-history a {
  background-color: var(--red);
  color: white;
  width: max-content;
  padding: 5px 1rem;
  border-radius: 30px;
}

#schedule {
  display: flex;
  align-items: center;
  gap: 10px;
}

#ongoing {
  color: greenyellow;
}

#schedule > img {
  max-height: 1.2rem;
}

.primary-data {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.primary-data > div {
  height: 10rem;
  background-color: var(--nav-links-color);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.primary-data > div h4 {
  font-size: 20px;
}

.primary-data > div p {
  margin-top: 5px;
  font-size: 16px;
}

.primary-data > div img {
  max-height: 4rem;
}

.blood-pressure {
  background-image: url(../Images/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.heart-rate {
  background-image: url(../Images/wave1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.weight {
  background-image: url(../Images/wave2.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.height {
  background-image: url(../Images/wave3.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.recent-session {
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.recent-session > h4 {
  margin-bottom: 0.5rem;
}

.recent-session > div {
  padding: 20px;
  background-color: var(--dark);
  max-height: 15rem;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -6px black;
}

.diagnosis-info,
.prescription-info {
  padding: 15px;
}

.diagnosis h4,
.prescription h4 {
  margin-bottom: 0.5rem;
}

.diagnosis-info li {
  color: whitesmoke;
  margin-left: 1rem;
}

.diagnosis-info li > span {
  color: greenyellow;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.prescription-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  max-height: 10rem;
  overflow: auto;
}

.prescription-info p {
  padding: 1rem;
  background-color: var(--nav-links-color);
  outline: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.payment {
  max-height: 39.8rem;
  overflow: auto;
}

.payment::-webkit-scrollbar {
  display: none;
}

.payments {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--dark);
  margin-top: 1.5rem;
  color: white;
}

.payments h4 {
  text-align: center;
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
}

.payments .else {
  color: red;
  font-size: 18px;
  margin-top: 0;
}

table {
  margin: 2rem 17rem;
  border: 2px solid white;
  border-radius: 5px;
  width: 50vw;
}

table th {
  background-color: whitesmoke;
  color: #212121;
}

table th,
td {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

table #desc {
  width: 40rem;
}

table #amount {
  width: 10rem;
}

table #center {
  text-align: center;
}

table #total {
  background-color: rgb(81, 184, 81);
}

#dosage {
  color: rgb(172, 172, 172);
  margin-left: 2rem;
}

#total td {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.payment-methods {
  margin: 4rem 17.6rem 0;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.bank-card {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: thistle;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  cursor: pointer;
  color: #212121;
  width: 20rem;
  transition: 0.2s ease-in-out;
}

.bank-card:hover {
  background-color: var(--red);
  color: white;
}

.bank-card:hover h4 > i {
  right: -7.5rem;
}

.bank-card img {
  max-height: 2.5rem;
}

.bank-card h4 {
  font-size: 16px;
  position: relative;
}

.bank-card i {
  position: absolute;
  inset: -1.5rem -7rem auto auto;
  transition: 0.2s ease;
}

.recent-transaction {
  margin-top: 3rem;
  color: white;
}

.recent-transaction .else {
  text-align: center;
  color: red;
  padding: 15px;
  margin-top: 1rem;
  background-color: var(--dark);
  border-radius: 5px;
}

.transaction-info {
  max-height: 30rem;
  overflow: auto;
  padding: 5px;
}

.transaction-details {
  margin-top: 1rem;
}

.transaction-info .accordion {
  padding: 15px;
}

.transaction-info .accordion span {
  position: absolute;
  top: 0.9rem;
  right: 2rem;
  font-weight: bold;
  color: rgb(1, 209, 1);
}

.transaction-info .accordion:hover {
  background-color: var(--dark);
}
