@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

:root {
  --font: "Exo", sans-serif;
  --font-1: "Days One", sans-serif;
  --product-desc-font: "Martel", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.user-profile > a {
  position: absolute;
  right: 13rem;
}

.container {
  margin-top: 3.5rem;
  min-height: 80vh;
  max-height: 80vh;
  position: relative;
  background-color: var(--nav-links-color);
}

.text {
  padding: 10rem 0 0 8rem;
  width: max-content;
}

.text h4 {
  text-transform: capitalize;
  font-size: 3.2rem;
  font-family: var(--font-1);
  max-width: 35rem;
  line-height: 1.2;
  color: white;
  font-weight: bolder;
  letter-spacing: 3px;
}

.text p {
  max-width: 30rem;
  margin-top: 1rem;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.5;
  color: whitesmoke;
  letter-spacing: 1px;
}

.image {
  position: absolute;
  inset: 5rem 5rem auto auto;
  height: 100%;
  width: 40rem;
  border-radius: 1% 40% 20% 60%;
  background-image: url(../Images/doctors.jpg);
  background-size: cover;
  box-shadow: 0px 0px 10px -5px black;
}

.container-2 {
  background-color: white;
  padding: 1rem;
  overflow: hidden;
}

.container-2 > h4,
.container-3 > h4,
.container-4 > h4 {
  font-size: 3.5rem;
  text-align: center;
  font-family: var(--font-1);
  margin-top: 8rem;
  color: black;
}

.patients,
.doctors {
  min-height: 70vh;
  background-color: whitesmoke;
  margin-top: 4rem;
  border-radius: 10px;
  position: relative;
  transform: translateY(8rem);
  opacity: 0;
  transition: 0.3s ease;
}

.show-patients {
  transform: translateY(0);
  opacity: 1;
}

.number {
  position: absolute;
  top: -10rem;
  right: 0;
  color: var(--red);
  font-size: 12rem;
  font-family: var(--product-desc-font);
  transform: translateX(10rem);
  opacity: 0;
  transition: 250ms ease;
}

.show-number {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.8s;
}

.name {
  font-size: 2rem;
  font-family: var(--font-1);
  color: var(--red);
  padding: 2rem 2rem;
}

.min-container {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.min-container div > img {
  max-height: 25rem;
  aspect-ratio: 1.1/1;
}

.first,
.second,
.third {
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  transform: translateX(-40rem);
  opacity: 0;
  transition: 0.5s ease;
}

.show-slide {
  transform: translateX(0);
  opacity: 1;
}

.second {
  flex-direction: row-reverse;
}

.info {
  max-width: 40vw;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info h4 {
  font-size: 3.2rem;
  font-family: var(--font-1);
  max-width: 38vw;
  font-weight: normal;
}

.info p {
  font-size: 1rem;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  max-width: 31rem;
  line-height: 1.4;
}

.doctors {
  margin-top: 8rem;
}

.container-3 {
  padding: 1rem;
  background-color: white;
  min-height: 60vh;
  color: var(--nav-links-color);
}

.container-3 > h4 {
  margin-top: 4rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 3rem 1rem;
}

.card {
  width: max-content;
  max-width: 25vw;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: whitesmoke;
  opacity: 0;
  transform: translateY(10rem);
  transition: 0.5s ease;
  box-shadow: 0px 0px 10px -7px black;
}

.card:nth-child(2) {
  transition-delay: 0.2s;
}

.card:last-child {
  transition-delay: 0.4s;
}

.show-card {
  opacity: 1;
  transform: translateY(0);
}

.card-img {
  max-width: 25rem;
  aspect-ratio: 1/0.9;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.card-info {
  padding: 1rem;
  color: black;
}

.card-info h4 {
  font-size: 1.5rem;
  font-family: var(--font-1);
  font-weight: normal;
}

.card-info p {
  margin-top: 1rem;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: normal;
}

.container-4 {
  min-height: 92.5vh;
  max-height: 92.5vh;
  color: white;
  padding: 2rem;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  gap: 13rem;
  position: relative;
  overflow: hidden;
}

.form {
  padding: 2rem;
  border-radius: 10px;
  height: max-content;
  min-width: 40vw;
}

.form h4 {
  font-family: var(--font-1);
  font-size: 3.5rem;
}

form {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem 1rem;
}

input,
textarea {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid whitesmoke;
  font-size: 17px;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid var(--red);
  outline: none;
}

textarea {
  padding: 0;
  max-width: 36vw;
  max-height: 10vh;
}

input::placeholder,
textarea::placeholder {
  color: grey;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
}

#email,
form button {
  grid-column: 1/3;
}

form button {
  padding: 10px 15px;
  border-radius: 35px;
  border: none;
  background-color: var(--red);
  text-transform: uppercase;
  color: white;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.contact-info {
  margin-top: 10rem;
  min-height: 60vh;
  aspect-ratio: 1/1;
  padding: 20px;
  background-image: url(../Images/5124556.png);
  background-size: cover;
}

#img {
  position: absolute;
  right: -20rem;
  bottom: 19rem;
  max-height: 11rem;
  transform: rotate(270deg);
}
